<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="firstName" class="col-sm-4 control-label">First Name</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="$parent.person.firstName" required autofocus>
		</div>
	</div>
	<div class="form-group">
		<label for="lastName" class="col-sm-4 control-label">Last Name</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="$parent.person.lastName" required>
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-4 control-label">Email</label>
		<div class="col-sm-8">
			<input type="email" class="form-control" id="email" placeholder="example@mail.com" ng-model="$parent.person.email" required>
		</div>
	</div>
	<div class="form-group">
		<label for="phoneNumber" class="col-sm-4 control-label">Phone Number</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="phoneNumber" placeholder="###-###-####" ng-model="$parent.person.phoneNumber" required>
		</div>
	</div>
	<div class="form-group">
		<label for="yearsOfService" class="col-sm-4 control-label">Years of Service</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="yearsOfService" placeHolder="#" ng-model="$parent.person.yearsOfService">
		</div>
	</div>
	<div class="form-group">	
		<div class="col-sm-4"></div>	
		<div ng-class="{'col-sm-4': $parent.parentFormShowDangerButton, 'col-sm-8': !$parent.parentFormShowDangerButton}">
			<input class="btn btn-primary btn-block" type="submit" value="{{$parent.personFormPrimaryButtonValue}}" ng-click="personFormPrimarySubmit()">
		</div>			
		<div class="col-sm-4">
			<input class="btn btn-danger btn-block" type="submit" value="{{$parent.personFormDangerButtonValue}}" ng-show="$parent.parentFormShowDangerButton" ng-click="personFormDangerSubmit()">
		</div>
	</div>
</form>